%html
  %head
    %title Provel
    %meta{:content => "We strive to build products that extend human potential. Things that have or may in the future, change the world drastically. We build products involving technologies in social networking, calculating, And anything that can make a difference.", :name => "description"}/
    %meta{:content => "Provel", :name => "author"}/
    / CSS Code
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/button.css", :rel => "stylesheet"}/
    %link{:href => "css/background_video.css", :rel => "stylesheet"}/
    %link{:href => "css/video.css", :rel => "stylesheet"}/
    / JS Code
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:src => "js/script.js"}
  %body
    / Section #1
    %section#home{"data-speed" => "10", "data-type" => "background"}
      %img{:height => "300", :src => "images/blank.gif", :width => "200"}/
      %center
        %a.classname{:href => "/index.html"} Home
        %a.classname{:href => "/about/"} About
        %a.classname{:href => "/projects/"} Projects
        %a.classname{:href => "http://pinterest.com/thenatemagee/software/"} What's New
        %a.classname{:href => "/contact/"} Contact
      %img{:height => "360", :src => "images/blank.gif", :width => "400"}/
    / Section #3
    %section#home2{"data-speed" => "4", "data-type" => "background"}
      %center
        %video{:autoplay => "", :height => "360", :loop => "", :muted => "", :width => "641"}
          %source{:src => "videos/background_video.mp4", :type => "video/mp4"}
            %source{:src => "videos/background_video.ogg", :type => "video/ogg"}
              %source{:src => "videos/background_video.webm", :type => "video/webm"}
    / Section #2
    %section#home{"data-speed" => "4", "data-type" => "background"}
